

.order-status-h6 {
    padding: 10px 20px;
    font-weight: bold;
}

.details-box {
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 20px;
    background-color: #f9f9f9;
}

.product-details-list {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

.product-details-list li {
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;
}

.product-details-list li:before {
    content: "•";
    position: absolute;
    left: 0;
    color: #3BB77E;
}

.product-details-list li:last-child {
    margin-bottom: 0;
}



/* product-detail.css */
.detail-gallery .img-fluid {
    width: 100%;
    height: auto;
    max-width: 100%;
    margin: 0 auto; /* Center the images */
    display: block;
    object-fit: cover;
}

.detail-gallery figure {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    width: 100%;
    background-color: transparent;
}

.slider-nav-thumbnails .img-thumbnail {
    width: 100px; /* Set a fixed width for thumbnails */
    height: auto;
    object-fit: cover; /* Ensure the image fits within the thumbnail without distortion */
}

.slider-nav-thumbnails a {
    display: inline-block; /* Ensure the anchor tags containing thumbnails are displayed inline */
    margin: 0 5px; /* Add some spacing between thumbnails */
}

@media (max-width: 768px) {
    .detail-gallery .img-fluid {
        max-width: 100%;
    }

    .slider-nav-thumbnails .img-thumbnail {
        width: 80px; /* Adjust thumbnail size for smaller screens */
    }
}

.detail-gallery {
    background-color: transparent;
}

